html {
	box-sizing: border-box;
	height: 100%;

	// *** Rem size base
	font-size: 10px;
}

html,
body {
	height: 100%;
}

body {
	font-family: Tahoma, sans-serif;
	font-size: 1.2rem;
	line-height: 1.5;
	margin: 0;
	background: $white;
	color: $white;
}

* {
	&:active,
	:focus {
		outline: none !important; // 1
	}
}

ul {
	padding: 0;

	li {
		list-style: none;
		margin-bottom: $spacer;
	}
}

p {
	margin: 1.2em 0;
	line-height: $line-height-base;
}

small {
	p {
		line-height: $line-height-sm;
		font-size: $h6-font-size;
		color: $gray-600;
	}
}

a {
	cursor: pointer;
	color: $white;
	text-decoration: underline;
	@include transit-fast();
	&:hover,
	&:focus {
		text-decoration: none;
		color: rgba($white, 0.8);
	}
	&.verdana {
		font-family: Verdana, sans-serif;
	}
}

.cursor-pointer {
	cursor: pointer;
	-webkit-transition: $transition;
	transition: $transition;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 2rem 0;
	font-weight: $headings-font-weight;
	line-height: $headings-line-height;
}
h1,
.h1 {
	font-size: $h1-font-size;
	font-family: Verdana, sans-serif;
	font-weight: $font-weight-normal;
}

h2,
.h2 {
	font-size: $h2-font-size;
	font-weight: $font-weight-normal;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	margin: 2rem 0;
	font-weight: $font-weight-normal;
	// line-height: 1.5;
}

label {
	font-size: $h4-font-size;
	color: $dark;
	font-weight: $font-weight-semibold;
}

* {
	&::-webkit-scrollbar {
		width: 6px;
	}

	&::-webkit-scrollbar-track {
		background: $white;
	}

	&::-webkit-scrollbar-thumb {
		background: lighten($light, 10);
		border-radius: 2px;
	}
}

.main-wrapper {
	@extend .container;
	@include flex();
	@include flex-direction(column);
	height: 100%;
	header {
		background-color: $primary;
		padding: 6.5rem 1rem 0 1rem;
		position: relative;
		.logo {
			position: absolute;
			left: 0;
			top: 15px;
			z-index: 1;
		}
		nav {
			.nav {
				.nav-item {
					background-color: $secondary;
					margin: 0 0.2rem;
					&:hover,
					&:focus {
						.nav-link {
							color: $secondary;
						}
					}
					.nav-link {
						padding: 1rem 3.2rem 0.4rem;
						font-size: $h3-font-size;
						text-decoration: none;
					}
				}
			}
			.dropdown-menu {
				background-color: $secondary;
				.dropdown-item {
					color: $white;
					font-size: $h4-font-size;
					text-decoration: none;
					border-bottom: 1px solid white;
					&:last-child {
						border-bottom: 0;
					}
					&:hover,
					&:focus {
						color: $secondary;
					}
				}
			}
		}
	}
	main {
		.row {
			height: 100%;
		}
		flex-grow: 2;
		section {
			background-color: $primary;
			border: 1rem solid $secondary;
		}
		article {
			background-color: #022929;
			border: 1rem solid #055252;
		}
	}
	footer {
		background-color: $secondary;
		color: $white;
	}
	hr {
		background-color: #616f6f;
	}
}
